BasedOnStyle: LLVM
IndentWidth: 4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
BreakBeforeBraces: Allman
PointerAlignment: Left
SeparateDefinitionBlocks: Always
SpaceAfterOperatorKeyword: false
SpaceAfterTemplateKeyword: false